@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --damier-cross-color: #DB3EB1;
  --case-color: #4D4DFF;
  --bg-color: #021946;
  --font-color: #1FFFFF;
  --circle-color: #FFAD00;
  --font-fam: 'Pacifico', cursive;
  --text-glow: 0 0 0.1em var(--bg-color), 
                0 0 0.1em white, 
                0 0 0.3em currentColor, 
                0 0 0.4em currentColor;
}

body{
  background: var(--bg-color);
  color: var(--font-color);
  font-size: 36px;
  font-family: var(--font-fam);
  text-shadow: var(--text-glow);
  letter-spacing: 0.1em;
  font-display: grid;
  grid-template-rows: 0.5fr, 1fr;
  grid-template-columns: repeat(3, 1fr);
}

